{% extends 'core/page_elements/base.html' %}
{% block content %}
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title ">واریزی</h4>
                <p class="card-category"> لیست واریزی</p>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                        <th>
                            نام
                        </th>
                        <th>
                            تاریخ
                        </th>
                        <th>
                            پرونده
                        </th>
                        <th>
                            مبلغ
                        </th>
                        </thead>
                        <tbody>
                        {% for commitment in commitments %}
                            <tr>
                                <td>
                                    <a href="{% url 'supporter:details' supporter_pk=commitment.supporter.pk %}">
                                        {{ commitment.supporter.first_name }}  {{ commitment.supporter.last_name }}</a>
                                </td>
                                <td>
                                    {{ commitment.created }}
                                </td>
                                <td>
                                    <a href="{% url 'case:details' case_pk=commitment.case.pk %}">{{ commitment.case }}</a>
                                </td>
                                <td class="text-primary">
                                    <a href="{% url 'commitment:details' commitment_pk=commitment.pk %}">
                                        {{ commitment.amount }}</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}