**/.git/**
**/.git
**/.idea/**
**/.idea
**/.pytest_cache*
**/.pytest_cache/**
**/__pycache__*
**/__pycache__/**
**/env_vars*
**sandbox/**
**sandbox
.vs
.vscode
__dummy__
dist
fixtures

**/*.pot
**/*.pyc

**/*.sqlite3
**/*.sqlite3-journal
get-pip.py
media
docker
media1
#**/*static
#**/static/**
design.txt
githublink.txt
**/*venv
**/*.orig

