{% extends 'core/page_elements/base.html'  %}
{% load jalali_tags %}
{% block content %}
    <div class="row mt-4" style="vertical-align: middle">
        <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
            {% if error %}
                {{ error }}
            {% endif %}
            <h4 style="border-bottom: solid 1px black; margin-bottom: 20px;">ورود به حساب کاربری</h4>
            <form method="POST">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div>
                    {{ form.username.errors }}
                    <label for="{{ form.username.id_for_label }}">نام کاربری:</label>
                    {{ form.username }}
                </div>
                <div>
                    {{ form.password.errors }}
                    <label for="{{ form.password.id_for_label }}">رمز عبور:</label>
                    {{ form.password }}
                </div>
                <button type="submit" class="btn btn-success btn-sm pull-left">ورود</button>
            </form>
        </div>
    </div>
{% endblock %}
