{% extends 'core/page_elements/base.html' %}
{% load jalali_tags static %}
{% block content %}
    <div class="col-md-8">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">پرونده جدید</h4>
                <p class="card-category">از طریق این فرم می توانید پرونده جدید ثبت نمایید.</p>
            </div>
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    <div id="top">
                        <div class="recipient">
                            {{ form.recipient }}
                            {{ form.recipient.errors }}
                        </div>
                        <div class="date">
                            {{ form.date }}
                            {{ form.date.errors }}
                        </div>
                    </div>
                    <div class="illness">
                        {{ form.illness }}
                        <p>{{ form.illness.errors }}</p>
                    </div>
                    <div id="description">
                        {{ form.description.errors }}
                        {{ form.description }}
                    </div>
                    <button class="btn btn-primary" type="submit">ثبت</button>
                </form>
            </div>
        </div>
        {% include 'case/case/table.html' with cases=cases %}
    </div>
{% endblock %}
{% block css_fiels %}
    <link rel="stylesheet" href="{% static 'admin/assets/css/custom/case.css' %}">
{% endblock %}
