{% extends 'core/page_elements/base.html' %}
{% block content %}
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">مددکار جدید</h4>
                <p class="card-category">از طریق این فرم می توانید مددکار جدید ثبت نمایید.</p>
            </div>
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-2">
                            {{ form.gender }}
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                {#                                <label class="bmd-label-floating">نام</label>#}
                                {{ form.first_name }}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                {#                                <label class="bmd-label-floating">Username</label>#}
                                {{ form.last_name }}
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                {#                                <label class="bmd-label-floating">Username</label>#}
                                {{ form.is_active }}
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary pull-right">ثبت</button>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
    {% include 'caseworker/table.html' with caseworkers=caseworkers %}
    </div>
{% endblock %}
