#id_illness {
    display: flex;
    flex-wrap: wrap;
}
#id_illness li label {
    display: flex;
    flex-basis: 20px;
    font-size: 0.8em;
    align-items: center;
}
#id_illness li {
    list-style: none;
    width: 60px;
}
.illness-checkbox{
    display: flex;
    flex-wrap: wrap;
}
.illness{
    margin-bottom: 55px;
}
#top{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#description{
    display: flex;
    align-items: center;
}
.recipient{
    flex-grow: 5;
}
.date{
    flex-grow: 2;
}
.date input{
    border: 1px solid rgb(189, 187, 187)
}
html[dir="rtl"] .form-check{
    direction: rtl;
}
.case-index {
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
}