<div>
    <ul>
        <li><a href="{% url 'supporter:create' %}">حامی جدید</a></li>
        <li><a href="{% url 'supporter:index' %}">لیست حامیان</a></li>
        <li><a href="{% url 'recipient:create_recipient' %}">مددجو جدید</a></li>
        <li><a href="{% url 'recipient:index_recipient' %}">لیست مدد جویان</a></li>
        <li><a href="{% url 'recipient:create_illness' %}">بیماری جدید</a></li>
        <li><a href="{% url 'recipient:index_illness' %}">لیست بیماری ها</a></li>
    </ul>

</div>