{% extends 'core/page_elements/base.html' %}
{% load jalali_tags static %}
{% block content %}
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">ثبت</button>
    </form>
    <div>
        <ol>
            {% for case in cases %}
                <li>{{ case.recipient.first_name }} {{ case.recipient.last_name }} {{ case.illness.count }}</li>
            {% endfor %}
        </ol>
    </div>
    <!-- By default, Datepicker using jQuery, you need to set your script after loading jQuery! -->
    <!-- loading directly -->
    <link rel="stylesheet" href="{% static 'admin/jquery.ui.datepicker.jalali/themes/base/jquery-ui.min.css' %}">
    <script src="{% static 'admin/js/django_jalali.min.js' %}"></script>
    <!-- OR -->
    <!-- loading by form (if used AdminJalaliDateWidget) -->
    {{ form.media }}
{% endblock %}