<div class="col-md-12">
    <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title ">پرونده</h4>
                <p class="card-category"> لیست پرونده های فعال</p>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                        <th>
                            نام
                        </th>
                        <th>
                            بیماری ها
                        </th>
                        <th>
                            تعداد حامی
                        </th>
                        <th>
                            مبلغ
                        </th>
                        </thead>
                        <tbody>
                        {% for case in cases %}
                            <tr>
                                <td>
                                    <a href="{% url 'case:details' case_pk=case.pk %}">
                                        {{ case.recipient.first_name }}  {{ case.recipient.last_name }}
                                    </a>
                                </td>
                                <td>
                                    {{ case.illness.count }}
                                </td>
                                <td>
                                    {{ case.commitment_set.count }}
                                </td>
                                <td class="text-primary">
                                    $36,738
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
</div>