{% extends 'core/page_elements/base.html' %}
{% load jalali_tags static %}
{% block css_fiels %}
    <link href="{% static 'admin/custom/autocomplete/styles.css' %}" rel="stylesheet"/>
{% endblock %}
{% block content %}
    <div class="col-md-8">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">واریز جدید</h4>
                <p class="card-category">از طریق این فرم می توانید واریز جدید ثبت نمایید.</p>
            </div>
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-md-6">
                            <label for="case_autocomplete">پرونده:</label>
                            <input class="form-control" type="text" name="case" id="case_autocomplete"
                                   value="{{ case }}"/>
                            <input type="hidden" class="form-control" name="case_value" id="case_value"
                                   value="{{ case.pk }}">
                        </div>
                        <div class="col-md-6">
                            <label for="autocomplete">حامی:</label>
                            <input class="form-control" type="text" name="su" id="autocomplete"
                                   value="{{ supporter }}"/>
                            <input type="hidden" class="form-control" name="su_value" id="su_value"
                                   value="{{ supporter.pk }}">
                        </div>

                        <div class="col-md-6">
                            <label for="amount">مبلغ</label>
                            {{ form.amount }}
                        </div>
                        <div class="col-md-6">
                            <label for="date">تاریخ</label>
                            {{ form.date }}
                        </div>
                        <button type="submit" class="btn btn-primary pull-right">ثبت</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% include 'commitment/table.html' with commitments=page_obj %}
    {% include 'core/page_elements/paginator.html' with page_obj=page_obj %}
    <!-- By default, Datepicker using jQuery, you need to set your script after loading jQuery! -->
    <!-- loading directly -->
    <link rel="stylesheet"
          href="{% static 'admin/jquery.ui.datepicker.jalali/themes/base/jquery-ui.min.css' %}">
    <script src="{% static 'admin/js/django_jalali.min.js' %}"></script>
    <!-- OR -->
    <!-- loading by form (if used AdminJalaliDateWidget) -->
    {{ form.media }}
{% endblock %}
{% block scripts %}
    <script src="{% static 'admin/vendor/chosen/chosen.jquery.js' %}"></script>
    <script src="{% static 'admin/assets/js/plugins/jquery.autocomplete.js' %}"></script>
    <script src="{% static 'admin/custom/custom.js' %}"></script>
{% endblock %}