{% load humanize jalali_tags %}
<div class="col-md-12">
    <div class="card">
        <div class="card-header card-header-primary">
            <h4 class="card-title mt-0"> حامیان</h4>
            <p class="card-category"> لیست حامیان فعال</p>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <thead class=" text-primary">
                    <th>
                        نام
                    </th>
                    <th>
                        شماره تماس
                    </th>
                    <th>
                        تاریخ
                    </th>
                    <th>
                        مددکار
                    </th>
                    <th>
                        تعداد پرونده
                    </th>
                    <th>
                        مجموع حمایت
                    </th>
                    </thead>
                    <tbody>
                    {% for supporter in supporters %}
                        <tr>
                            <td>
                                <a href="{% url 'supporter:details' supporter_pk=supporter.pk %}">
                                    {{ supporter.gender }} {{ supporter.last_name }}</a>
                            </td>
                            <td>
                                {% if supporter.contact_set.first %}
                                    {{ supporter.contact_set.first }}
                                {% else %}
                                    ثبت نشده
                                {% endif %}
                            </td>
                            <td>
                                {{ supporter.created|to_jalali:"%y/%m/%d" }}
                            </td>
                            <td>
                                {{ supporter.caseworker.last_name }}
                            </td>
                            <td>
                                {{ supporter.num_cases }}
                            </td>
                            <td class="text-primary">
                                {{ supporter.total_support|intcomma }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>