{% extends 'core/page_elements/base.html' %}
{% block content %}
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">اطلاعات تماس</h4>
                <p class="card-category">ثبت اطلاعات تماس برای
                    <span>{{ supporter.gender }} {{ supporter.last_name }}</span>
                </p>
            </div>
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-2">
                            {{ form.supporter }}
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                {{ form.phone }}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                {{ form.mobile }}
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right">ثبت</button>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        {% include 'supporter/contacts.html' with contacts=contacts %}
    </div>
{% endblock %}
