<footer class="footer">
    <div class="container-fluid">
        <nav class="float-left">
            <ul>
                <li>
                    <a href="{% url 'home' %}">
                        داشبورد
                    </a>
                </li>
                <li>
                    <a href="{% url 'supporter:index' %}">
                        حامیان
                    </a>
                </li>
                <li>
                    <a href="{% url 'caseworker:index' %}">
                        مددکاران
                    </a>
                </li>
                <li>
                    <a href="{% url 'case:index_case' %}">
                        پرونده ها
                    </a>
                </li>
            </ul>
        </nav>

    </div>
</footer>