{% extends 'core/page_elements/base.html' %}
{% block content %}
    <div class="col-md-8">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">مددجو جدید</h4>
                <p class="card-category">از طریق این فرم می توانید مددجو جدید ثبت نمایید.</p>
            </div>
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-2">
                            {{ form.gender }}
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                {#                                <label class="bmd-label-floating">نام</label>#}
                                {{ form.first_name }}
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                {#                                <label class="bmd-label-floating">Username</label>#}
                                {{ form.last_name }}
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right">ثبت</button>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
        {% include 'recipient/recipient/table.html' with recipients=page_obj %}
        {% include 'core/page_elements/paginator.html' with page_obj=page_obj %}
    </div>
{% endblock %}
